# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
venv/
.env/

# Data files (optional)
data/raw/
data/processed/
data/FinancialPhraseBank-v1.0
data/eval_dataset.json

#scripts
scripts/evaluate.py

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

#training
training